@media (max-width: 1400px) {
  .container {
    max-width: 1150px;
  }

  .second-container {
    max-width: 1380px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 945px;
  }

  .second-container {
    max-width: 1380px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .second-container {
    max-width: 1380px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 520px;
  }

  .second-container {
    max-width: 1380px;
  }
}

@media (max-width: 577px) {
  .container {
    max-width: 400px;
  }

  .second-container {
    max-width: 1380px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 360px;
  }

  .second-container {
    max-width: 1380px;
  }
}

/* Footer Media Queries */
@media (max-width: 1400px) {
  .footer__message {
    flex-direction: column;
  }

  .footer__descr {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0px 20px 0px;
  }
}

@media (max-width: 577px) {
  .footer__inner-wrapper {
    flex-wrap: wrap;
  }

  .footer__message {
    margin-bottom: 28px;
  }
}

@media (max-width: 480px) {
  .footer__copyright {
    width: 17px;
  }

  .footer__warnin {
    font-size: 14px;
  }

  .footer__link {
    display: block;
    width: 24px;
  }
}
