@import 'tailwindcss';
@import '../styles/media.css';

/* Custom Fonts */
@font-face {
  font-family: 'Play';
  src:
    local('Play Regular'),
    local('Play-Regular'),
    url('/fonts/Play-Regular.woff2') format('woff2'),
    url('/fonts/Play-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play';
  src:
    local('Play Bold'),
    local('Play-Bold'),
    url('/fonts/Play-Bold.woff2') format('woff2'),
    url('/fonts/Play-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Bold'),
    local('Open-Sans-Bold'),
    url('/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global Styles */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 375px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  background-color: rgba(10, 11, 11, 1);
  color: rgba(255, 255, 255, 1);
}

/* Utility Classes */
.container {
  max-width: 1304px;
}

.third-container {
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chosen-element {
  position: relative;
}

.chosen-element::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #dc5dfc;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.card-list-top-ten-account::-webkit-scrollbar {
  height: 3px;
  opacity: 0;
  background-color: #1b1b1b;
}

.card-list-top-ten-account::-webkit-scrollbar-thumb {
  background-color: #ff7af083;
  border-radius: 9em;
}
